/* styles.css */

.container {
    display: flex;
    justify-content: space-around;
    /* センタリングとスペースの配分 */
}

.list-container {
    margin: 0 10px;
    flex: 1;
    /* 各項目が均等にスペースを取るように */
}

/* ボタンの基本スタイル */
.filter-button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
  }
  
  /* 選択されたボタンのスタイル */
  .filter-button.selected {
    color: white;
    background-color: blue;
  }
  
/* 必要に応じて他のスタイル */